body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header{
    padding:01px;
    text-align:center;
    color:rgb(10, 10, 10);
    background-color: #f88ba5;
    border-radius: 10px;
    font: weight 900px;
    &:hover{
        padding:5px;
        font-size:larger;
    }
}
header h2{
    font-weight: 100;
}

section{
    padding:20px;
    margin:20px 0;
    background-color: rgb(247, 246, 246);
    border-radius: 10px;
    border: 1px solid black;
    font-size:12px;
}
section h1{
    margin:10px;
    padding:5px;
    font-size:30px;
}
section h2,p{
    margin:10px;
    position:relative;
    color:rgb(47, 41, 41);
    
}
section span,a{
    font-weight: 100;
}
.profile img{
    border-radius: 10px;
}
.academics table {
    width: 100%;
    border-collapse: collapse;
    font-size:large;
}
.academics th, .academics td {
    padding: 10px;
    border: 1px solid #121111;
    text-align: center;
}

.academics th {
    background-color: #f88ba5;
    color: #0b0b0b;
    font-weight:bold;
}
.project h2{
    &:hover{
        color:rgb(7, 3, 241)  ;
        width : 15%;
    }

}
.contact h2{
    color:blue;
    text-decoration:underline;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: #f88ba5;
    font-size:20px;
}




body  h1{
    padding:5px;
    margin : 0px auto;
    color:red;
    
}
body img{
    align-items: center;
    size: 100px;
}



